        <div class="ingredient hideshow">    
            <input
            class="empty"
            type="text"
            name="ingredients[]"
            >
        </div>
    </div>
    <span id="add-ingredient">Adicionar novo ingrediente</span>
</div>
<div class="item">
    <div>Modo de preparo</div>
    <div id="steps">
        <div class="step hideshow">
            <input 
            class="empty"
            type="text"
            name="steps[]"
            >
        </div>