        </div>
        <span id="add-step">Adicionar novo passo</span>
    </div>
    <div class="item">
        <div>Informações adicionais</div>
        <textarea name="information">{{ recipe.information }}</textarea>
    </div>
</section>