<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style/main.css">
        {% block style %}{% endblock %}
        <link rel="shortcut icon" href="img/icon/favicon.ico" />
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    {% block script %}{% endblock %}
</html>